@use './reset.scss';
:root {
  color: $fontColorDefault;
  background: $backgroundColor;
}
::selection {
  color: $selectionColor;
  background: $selectionBgColor;
}
button {
  width: 60%;
  padding: 10px;
  color: $fontColor;
  border: none;
  border-radius: 9999px;
  box-shadow: 1px 1px 0 0 $focusColor;
  &:active {
    opacity: 0.6;
  }
}
