$fontColor: #00a2e0;
$fontColorDisable: #b8deed;

$brandColor: #00a2ff;
$backgroundColor: #f6f5f7;

$focusColor: #ffda9b;
$focusColorLight: #ffb12a;

$selectionColor: #f6f5f7;
$selectionBgColor: #ffb12a;

$brandColorDark: #61889e;

$backgroundColorDark: #294351;
